@model Movie
 
@{
    ViewData["Title"] = "MovieForm";
}

@{
    SelectList s = new SelectList(ViewBag.go, "Id", "Name");
}
<h2>@(Model?.Id>0?"Edit":"Creat") Movie</h2>
<hr />

<section class="row justify-content-between">
    <div class="col-md-4">
        <form method="post" asp-action="@(Model?.Id>0?"Edit":"Creat")" asp-controller="Movies">
            <div class="form-group">
                <label asp-for="Title" class="text-muted"></label>
                <input asp-for="Title" type="text" class="form-control" maxlength="250" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="GenreId" class="text-muted"></label>
                <select class="form-control" asp-for="GenreId" asp-items="s"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group w-50" >
                <label asp-for="Year" class="text-muted"></label>
                <input asp-for="Year" type="date" class="form-control"  />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group w-50" >
                <label asp-for="Rate" class="text-muted"></label>
                <input asp-for="Rate" type="number" class="form-control"  />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group " >
                <label asp-for="storeline" class="text-muted"></label>
                <textarea asp-for="storeline" maxlength="3500" class="form-control"></textarea>
                <span asp-validation-for="storeline" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group w-100">
                <label asp-for="Poster" class="text-muted"></label>
                <input type="file" asp-for="Poster" class="form-control" accept="image/*"/>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-check-all"></i> @(Model?.Id > 0 ? "Update":"Save")</button>
            <a asp-action="Index" class="btn btn-outline-secondary mt-4"><i class="bi bi-x-circle"></i> Cancel</a>
        </form>
    </div>

    
</section>


@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); //client side validation
    }
    
}